.dlp,.dlp *{
    font-family: "Raleway",
    "HelveticaNeue",
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    font-size: 12px!important;
    border-spacing: 0!important;
    -moz-user-select: none!important;
    -webkit-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    text-align: left;
    -webkit-appearance: none!important;
    -webkit-box-sizing: border-box!important;
    -moz-box-sizing: border-box!important;
    box-sizing: border-box!important;
}
.dlp i{cursor: pointer!important;}
.dlp p,.dlp span{margin: 0!important;padding: 0!important;}
.dlp-text{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.dlp-label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 7em;
    max-width: 12em;
    height: 20px;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #d6d6d6;
    color: rgba(0,0,0,.7);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    margin: 0 0.2em 3px;
    padding: 2px 4px 2px 4px;
    line-height: 14px;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.14rem;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgb(34 36 38 / 15%) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    -webkit-tap-highlight-color: transparent;
    transition-property: color,background-color,border;
}

.dlp-label:hover,.dlp-label-active {
    background-color: #ffffff;
    color: rgba(0,0,0,1);
}

.dlp-scroll{overflow-y: auto;overflow-x: hidden;}
.dlp-scroll::-webkit-scrollbar{width: 3px;}
.dlp-scroll::-webkit-scrollbar-thumb{border-radius: 5px;-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);background: #e1e1e1;}
.dlp-scroll::-webkit-scrollbar-track {-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);border-radius: 0;background: rgb(255 255 255 / 20%);}
.dlp-dot{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 35px auto;
    color: rgba(255,255,255,.9);
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,.4)!important;
    border-radius: 5px;
}
.dot-top .dot-search{
    width: 100px;
    border: none;
    color: inherit;
    border-color: transparent!important;
    background-color: transparent!important;
    padding: 0!important;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: left;
    -webkit-appearance: none;
}
.dot-search:focus{
    outline:none;
    border: none;
}
.dot-top{
    padding: 5px 0 5px 5px;
    display: flex;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background: rgb(0 0 0 / 90%);
    border-top: 1px solid rgba(34,36,38,.15);
    border-bottom: 1px solid rgba(255,255,255,.1);
}
.dlp-cascadeLine{
    position: relative!important;
}
.dlp-cascadeLine>.dot-top{
    padding: 5px;
    justify-content: flex-end;
}
.dlp-cascadeLine .dlp-btn{
    cursor: pointer;
    text-align: center;
    line-height: 16px;
    width: 16px;
    height: 16px;
}
.dlp-cascadeLine>.dot-top>.search-box{
    margin-right: auto;
    display: flex;
}
.dlp-cascadeLine .dot-search-result-panel{
    margin-left: 5px;
    display: flex;
    align-items: center;
}
.dlp-cascadeLine .search-result-number{
    width: 18px;
    text-align: center;
}
.dot-selected{width: 100%!important;height: 100%!important;}
.dot-selected>.dlp-label{background: white}
.dot-body{padding:3px 0 3px 0;background: rgb(43 43 43);border-radius: 0 0 5px 5px;position: relative;}
.dot-select{
    position: absolute;
    top:3px;
    left:0;
    bottom:3px;
    right:0;
    display: flex;
    flex-wrap: wrap;
}
.dot-select-cover{background: rgb(43 43 43);position: absolute;top:3px;left:0;bottom:3px;right:0;}
.dot-select-cascade{
    display: flex;
    flex-direction: row;
    align-items:stretch;
    flex-wrap: unset;
}
.dot-cascade-stack{
    width: 100%;
    border-radius: 3px;
    flex-grow:1;
    text-align: center;
    margin:0 3px 0;
    background: #222222;
}
.dot-cascade-stack>.dlp-label{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: unset;
    min-width: unset;
    margin-bottom: 3px;
    position: relative;
}
.dlp-label>span{
    width: 100%;
    text-align: center;
    text-overflow: ellipsis;overflow: hidden;white-space: nowrap;
}
.dot-cascade-stack>.dlp-label-silence{
    opacity: 0.5;
    transition: .2s ease-in-out;
}
.dlp-label>i{
    position: absolute!important;
    top: calc(50% - 8px)!important;
    width: 16px!important;
    height: 16px!important;
}
.dlp-label>i.left{
    left: 0!important;
    right: unset!important;
}
.dlp-label>i.right{
    right: 4px!important;
}
.dot-cascade-panel{
    position: absolute;
    z-index: 100000;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background: radial-gradient(rgb(86 86 86 / 60%),#060606);
    border-radius: 5px;
    animation-name: dlpFadeIn;
    animation-duration: .2s;
}
.dlp-input{
    padding: 0 2px!important;
    vertical-align: middle;
    display: inline-block;
    width: calc(100% - 8px)!important;
    height: 24px!important;
    background: #ededed;
    color: #666;
    border: 1px solid #e5e5e5;
    transition: .2s ease-in-out;
    transition-property: color,background-color,border;
    -webkit-appearance: none;
    box-sizing: border-box;
    margin: 0;
    border-radius: 2px;
    font: inherit;
}

.dlp-input:focus,.dlp-form-row>textarea:focus{border-color:#66afe9;outline:0;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)}
.dlp-form-row{
    display: flex;
    justify-content:center;
    align-items: baseline;
    padding: 10px 3em 5px 10px;
}
.dlp-form-row>input,.dlp-form-row>textarea{
    flex: auto;
    color: #0c0c0c;
}
.dlp-form-row>label{
    min-width: 7em!important;
    max-width: 7em!important;
    text-align: center!important;
}
.dlp-table{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,.4)!important;
    text-align: left;
    background: #191919;
    color: rgba(255,255,255,.9);
}

.dlp-table tbody{display:block!important;height:100%!important;overflow-y:scroll!important;background: rgb(50 50 50 / 80%);}

.dlp-table tr{display:table!important;width:100%!important;table-layout:fixed!important;}
.dlp-table th,.dlp-table td{overflow: hidden!important;padding:  7px 3px 7px 3px!important;}
.dlp-table thead>tr{height: 45px!important}
.dlp-table tbody>tr{background:rgb(43 43 43)!important;}
.dlp-table tbody>tr:nth-child(even){background:#0c0c0c!important;}
.dlp-table tbody>tr:hover{background:rgb(255 255 255 / 5%)!important;color:#fff!important}
.dlp-table tfoot>tr{height: 40px!important}
.dlp-table .operate-column{width:45px;text-align: center;line-height: 9px;}

#dlp-plane>div{
    position: relative;
    animation-name: dlpFadeIn;
    animation-duration: .2s;
}
.dlp-plane-gauze{
    display: block;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
#dlp-plane .plane-header,.dot-cascade-panel>.plane-header{
    background-color: rgb(44 44 44);
    padding: 3px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border-bottom: 1px solid #505050;
    border-radius: 3px 3px 0 0;
    height: 24px!important;
}
.plane-header .header-content{
    margin-right: auto;
    display: flex;
}
.plane-header .title{
    color: rgb(255 0 141);
    max-width: 120px;
    display: inline-block;
    vertical-align: bottom;
}
#dlp-plane .plane-body,.dot-cascade-panel>.plane-body{
    background-color: rgb(244, 244, 244);
    padding: 0;
    overflow-y: auto;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 .4rem 1.2rem rgba(0,0,0,.4)!important;
    position: relative!important;
    min-height: 70px;
}
.dot-cascade-panel>.plane-body{
    height: calc(100% - 23px);
    background: #484848!important;
}
.dot-cascade-panel>.plane-header-dialog{
    width: 270px;
    margin: 30px auto 0;
}
.dot-cascade-panel>.plane-body-dialog{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 270px;
    min-height: 50px!important;
    margin: 0 auto;
    overflow: hidden;
}

.plane-body-dialog>.dlp-label{
    position: relative;
    width: 220px;
    max-width: 220px;
    margin: 0 auto;
    height: 25px;
    line-height: 23px;
    padding-left: 20px;
    padding-right: 20px;

}
.plane-header>.dlp-submit-btn{
    margin-right: 5px;
    cursor: pointer;
    height: 18px;
    line-height: 26px;
}
.plane-header>.dlp-submit-btn:hover{
    background: #000000;
    border-radius: 50%;
}

.dlp-contextmenu{
    list-style:none;
    margin:0;padding:0;
    position: absolute;
    color: #333;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.2);
    z-index: 10000;
    display:block;
}
.dlp-contextmenu *{transition:color .4s, background .4s;}
.dlp-contextmenu li{
    text-align: center;
    padding: 3px;
    background-color: #fff;
    border-bottom:1px solid #ecf0f1;
}
.dlp-contextmenu li:hover{
    background-color: #ebebeb;
    cursor: pointer;
}

@keyframes dlpFadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.dlp-loader {
    background: radial-gradient(#3e3e3e, #000);
    overflow: hidden;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.dlp-loader-inner {
    bottom: 0;
    height: 100px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}

.dlp-loader-line-wrap {
    animation:
            dlpSpin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.dlp-loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.dlp-loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.dlp-loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.dlp-loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.dlp-loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.dlp-loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.dlp-loader-line-wrap:nth-child(1) .dlp-loader-line {
    border-color: hsl(0, 0%, 25%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.dlp-loader-line-wrap:nth-child(2) .dlp-loader-line {
    border-color: hsl(0, 0%, 35%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.dlp-loader-line-wrap:nth-child(3) .dlp-loader-line {
    border-color: hsl(0, 0%, 55%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.dlp-loader-line-wrap:nth-child(4) .dlp-loader-line {
    border-color: hsl(0, 0%, 75%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.dlp-loader-line-wrap:nth-child(5) .dlp-loader-line {
    border-color: hsl(0, 0%, 90%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes dlpSpin {
    0%, 15% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
