.dlp{font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;}
.dlp-button {
    margin: 0;
    display: inline-block;
    cursor: pointer;
    background: #EEE;
    text-align: center;
    border-radius: 4px;
    font-size: 1rem;
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: .1rem;
}

.dlp-button:hover {

}